<a href="https://colab.research.google.com/github/Vaibhav67979/MachineLearning/blob/main/MLCourse/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

Used for data cleaning and analysis.

##Importing pandas


```
!pip install pandas
import pandas as pd
```

In [ ]:
import pandas as pd

##Using Pandas Dataframe

- Dataframe is an entire table

In [ ]:
rain_data={
    'dist' : [1,2,3,4,5,6,7,8,9,10],
    'rain' : [5.1,8.7,1.2,27.12,0,4.7,45.23,1.4,0.75,20.78]
}
rain_data

{'dist': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'rain': [5.1, 8.7, 1.2, 27.12, 0, 4.7, 45.23, 1.4, 0.75, 20.78]}

In [ ]:
a = pd.DataFrame(rain_data)
a

   dist   rain
0     1   5.10
1     2   8.70
2     3   1.20
3     4  27.12
4     5   0.00
5     6   4.70
6     7  45.23
7     8   1.40
8     9   0.75
9    10  20.78

In [ ]:
print(a.loc[1])

dist    2.0
rain    8.7
Name: 1, dtype: float64

In [ ]:
print(pd.__version__)

1.3.5

##Series
- series is a column whereas dataframe is an entire table.

In [ ]:
odd = [1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31]
o = pd.Series(odd)
print(o)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
dtype: int64

In [ ]:
even = [2,4,6]
e = pd.Series(even, index = ['x','y','a'])
print(e)

x    2
y    4
a    6
dtype: int64

In [ ]:
p = pd.Series(rain_data)
print(p)

dist                      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rain    [5.1, 8.7, 1.2, 27.12, 0, 4.7, 45.23, 1.4, 0.7...
dtype: object

##Using datasets

###Mounting google drive

In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

###Uploading files

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

###CSV files

csv - comma separated values

In [ ]:
df=pd.read_csv('HOUSE1.csv')
df

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587

In [ ]:
df.shape

(10692, 13)

In [ ]:
print(df.max())
print(df.min())

city                       São Paulo
area                           46335
rooms                             13
bathroom                          10
parking spaces                    12
floor                              9
animal                     not acept
furniture              not furnished
hoa (R$)                     1117000
rent amount (R$)               45000
property tax (R$)             313700
fire insurance (R$)              677
total (R$)                   1120000
dtype: object
city                   Belo Horizonte
area                               11
rooms                               1
bathroom                            1
parking spaces                      0
floor                               -
animal                          acept
furniture                   furnished
hoa (R$)                            0
rent amount (R$)                  450
property tax (R$)                   0
fire insurance (R$)                 3
total (R$)                        499
dtype: object

In [ ]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

To know the types of variables use dtypes() function which will diaplay the datatype of the series. 

If the dtype is object then it is a categorical data or else it is numerical data(float64 / int64)

In [ ]:
df.dtypes

city                   object
area                    int64
rooms                   int64
bathroom                int64
parking spaces          int64
floor                  object
animal                 object
furniture              object
hoa (R$)                int64
rent amount (R$)        int64
property tax (R$)       int64
fire insurance (R$)     int64
total (R$)              int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

describe function describes only the numerical data not categorical data

##Steps in Data science project

step 1 - EDA - Exploratory Data Analysis
  
  Categorical data - data which is categorized in certain unique values

  Numerical data -

In [ ]:
df.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06

###Exploring categorical variables

####unique()
unique function displays names of all the unique values of categorical variable passed as the parameter.

In [ ]:
print(df['city'].unique())
print(df['animal'].unique())

['São Paulo' 'Porto Alegre' 'Rio de Janeiro' 'Campinas' 'Belo Horizonte']
['acept' 'not acept']

####value_counts()
value_counts() displays all the categorical variables along with the number of values associated with it.

In [ ]:
df['city'].value_counts()

São Paulo         5887
Rio de Janeiro    1501
Belo Horizonte    1258
Porto Alegre      1193
Campinas           853
Name: city, dtype: int64

In [ ]:
df['animal'].value_counts()

acept        8316
not acept    2376
Name: animal, dtype: int64

In [ ]:
df['floor'].value_counts()

-      2461
1      1081
2       985
3       931
4       748
5       600
6       539
7       497
8       490
9       369
10      357
11      303
12      257
13      200
14      170
15      147
16      109
17       96
18       75
19       53
20       44
21       42
25       25
23       25
22       24
26       20
24       19
27        8
28        6
29        5
32        2
35        1
46        1
301       1
51        1
Name: floor, dtype: int64

In [ ]:
df['furniture'].value_counts()

not furnished    8086
furnished        2606
Name: furniture, dtype: int64

###Population and Sample

Sample is a part of population.
we apply algorithms on samples.

##Data cleaning
- Empty cells / missing values
- Data in wrong format
- Wrong data
- Duplicates

###Missing values
Missing values can't be deleted as they can lead to loss of associated data. So we use imputatation - filing up of missing data

- If the variable is numerical mean or mode or meadian is calculated.
- If the variable is categorical we can't calculate mean so we calculate mode which depicts the the variable with most occurences