<a href="https://colab.research.google.com/github/Vaibhav67979/MachineLearning/blob/main/MLCourse/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

Used for data cleaning and analysis.

##Importing pandas


```
!pip install pandas
import pandas as pd
```

In [ ]:
import pandas as pd

##Using Pandas Dataframe

- Dataframe is an entire table

In [ ]:
rain_data={
    'dist' : [1,2,3,4,5,6,7,8,9,10],
    'rain' : [5.1,8.7,1.2,27.12,0,4.7,45.23,1.4,0.75,20.78]
}
rain_data

{'dist': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'rain': [5.1, 8.7, 1.2, 27.12, 0, 4.7, 45.23, 1.4, 0.75, 20.78]}

In [ ]:
a = pd.DataFrame(rain_data)
a

   dist   rain
0     1   5.10
1     2   8.70
2     3   1.20
3     4  27.12
4     5   0.00
5     6   4.70
6     7  45.23
7     8   1.40
8     9   0.75
9    10  20.78

In [ ]:
print(a.loc[1])

dist    2.0
rain    8.7
Name: 1, dtype: float64

In [ ]:
print(pd.__version__)

1.3.5

##Series
- series is a column whereas dataframe is an entire table.

In [ ]:
odd = [1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31]
o = pd.Series(odd)
print(o)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
dtype: int64

In [ ]:
even = [2,4,6]
e = pd.Series(even, index = ['x','y','a'])
print(e)

x    2
y    4
a    6
dtype: int64

In [ ]:
p = pd.Series(rain_data)
print(p)

dist                      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rain    [5.1, 8.7, 1.2, 27.12, 0, 4.7, 45.23, 1.4, 0.7...
dtype: object

##Using datasets

###Mounting google drive

In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Uploading files

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

###CSV files

csv - comma separated values

In [ ]:
df=pd.read_csv('HOUSE1.csv')
df

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587